.loading-circle {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-top-color: #002c49;
  border-bottom-color: orangered;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 1111;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading > img{
  position: fixed;
  z-index: 1111;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: white;
  padding: 10px;
}
@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}